body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://tse4.mm.bing.net/th/id/OIP.QuYnxl-hSp6y0NLMmrXHowHaEO?rs=1&pid=ImgDetMain&o=7&rm=3"); 
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

.login-container {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  max-width: 320px;
  margin: auto;
  top: 20%;
  width: 700px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.login-form input,
.login-form button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-form button {
  background-color: #003580;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #003580;
}


.register-link {
  margin-top: 15px;
  text-align: center;
  color: #ccc;
  font-size: 0.9em;
}

.register-link a {
  color: #003580;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.logo:hover {

  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.logo {
  object-fit: contain;
  display: block;
  margin: 0 auto 15px; 
}